<div class="alert alert-success mt-3" role="alert">
  <h4 class="alert-heading">Suggestion</h4>
  <p>Below are some related jobs, do you want to try them?</p>
</div>

<img src="jobs.png" alt="list jobs" />

